
.main(role='main')
        .container
          
                  .col-sm-6
                    .featured-box.featured-box-primary.align-left.mt-xlg
                      .box-content
                        h4.heading-primary.text-uppercase.mb-md To-Do list
                        form#frmSignUp()
                          
                          .row
                            .form-group
                              .col-md-12
                                label Add task
                                input.form-control(ng-model="tsk.to_do",name='to_do',type='text') 
                          
                          .row
                            .col-md-12
                              input.btn.btn-primary.pull-right.mb-xl(type='submit', ng-click='formSubmit(tsk)')
      
